<section class="container mx-auto flex flex-auto flex-col items-center justify-center">
  <div
    aria-hidden="true"
    class="fixed inset-0 z-0 grid grid-cols-2 -space-x-52 opacity-10 dark:opacity-5"
  >
    <div class="h-96 bg-gradient-to-br from-purple-400 to-rose-300 blur-[106px] dark:from-purple-700 dark:to-rose-700">
      <!-- Gradient Circle Background -->
    </div>
    <div class="h-90 bg-gradient-to-r from-indigo-400 to-cyan-400 blur-[106px] dark:from-indigo-600 dark:to-cyan-600">
      <!-- Gradient Circle Background -->
    </div>
  </div>

  <div class="z-10 flex w-full flex-auto flex-col items-center justify-center md:max-w-screen-sm">
    <div class="h-full w-full bg-base-100 md:shadow-card sm:h-auto md:flex-none md:rounded-lg md:border">
      <div class="p-6 sm:p-8">
        <div class="flex flex-col items-center justify-center">
          <img
            class="max-w-sm"
            src="images/reset-password-illustration.svg"
            alt="Illustration"
          />
        </div>

        <h1 class="mt-6 text-3xl font-bold leading-tight tracking-tight">Invalid link</h1>

        <p class="text-hint mt-2">
          Sorry, your password reset link is invalid or has expired. Please request a new link.
        </p>

        <div class="mt-6">
          <button
            class="btn btn-primary w-full"
            routerLink="/forgot-password"
          >
            Request new link
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
