<section class="container mx-auto flex flex-auto flex-col items-center justify-center">
  <div
    aria-hidden="true"
    class="fixed inset-0 z-0 grid grid-cols-2 -space-x-52 opacity-10 dark:opacity-5"
  >
    <div class="h-96 bg-gradient-to-br from-purple-400 to-rose-300 blur-[106px] dark:from-purple-700 dark:to-rose-700">
      <!-- Gradient Circle Background -->
    </div>
    <div class="h-90 bg-gradient-to-r from-indigo-400 to-cyan-400 blur-[106px] dark:from-indigo-600 dark:to-cyan-600">
      <!-- Gradient Circle Background -->
    </div>
  </div>

  <div class="z-10 flex w-full flex-auto flex-col items-center justify-center md:max-w-screen-sm">
    <div class="bg-base-100 md:shadow-card h-full w-full sm:h-auto md:flex-none md:rounded-lg md:border">
      <div class="p-6 sm:p-8">
        <div class="flex flex-col items-center justify-center">
          <img
            class="max-w-sm"
            src="images/reset-password-illustration.svg"
            alt="Illustration"
          />
        </div>

        <h1 class="mt-6 text-3xl leading-tight font-bold tracking-tight">Reset password</h1>

        <p class="text-hint mt-2">Don't worry, it happens! We are here to help you!</p>

        <form
          class="mt-6"
          [formGroup]="form"
        >
          @if (message) {
            <div
              role="alert"
              class="animate__animated animate__headShake alert mb-4 flex rounded-lg border-red-500 bg-red-50 text-red-500"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6 shrink-0 stroke-current"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
                />
              </svg>
              <span>{{ message }}</span>
            </div>
          }

          <label class="form-control mt-1 w-full">
            <div class="label font-medium">New password</div>
            <input
              type="password"
              placeholder="••••••••"
              class="input input-bordered w-full"
              formControlName="newPassword"
            />

            @if (form.get('newPassword')?.touched) {
              <div class="label">
                @if (form.get('newPassword')?.hasError('required')) {
                  <span class="label-text-alt text-error">Password is required</span>
                } @else {
                  <div class="grid grid-cols-1 gap-2">
                    <ng-container
                      [ngTemplateOutlet]="validationTemplate"
                      [ngTemplateOutletContext]="{
                        data: {
                          hasError: form.get('newPassword')?.hasError('minlength'),
                          message: 'Password must be at least 6 characters',
                        },
                      }"
                    />

                    <ng-container
                      [ngTemplateOutlet]="validationTemplate"
                      [ngTemplateOutletContext]="{
                        data: {
                          hasError: form.get('newPassword')?.hasError('whitespaces'),
                          message: 'Password must not contain whitespaces',
                        },
                      }"
                    />

                    <ng-container
                      [ngTemplateOutlet]="validationTemplate"
                      [ngTemplateOutletContext]="{
                        data: {
                          hasError: form.get('newPassword')?.hasError('letters'),
                          message: 'Password must contain at least one letter (a-z, A-Z)',
                        },
                      }"
                    />

                    <ng-container
                      [ngTemplateOutlet]="validationTemplate"
                      [ngTemplateOutletContext]="{
                        data: {
                          hasError: form.get('newPassword')?.hasError('digits'),
                          message: 'Password must contain at least one number (0-9)',
                        },
                      }"
                    />
                  </div>
                }
              </div>
            }
          </label>

          <label class="form-control mt-1 w-full">
            <div class="label font-medium">Confirm password</div>
            <input
              type="password"
              placeholder="••••••••"
              class="input input-bordered w-full"
              formControlName="confirmPassword"
            />

            @if (form.get('confirmPassword')?.touched) {
              <div class="label">
                @if (form.get('confirmPassword')?.hasError('required')) {
                  <span class="label-text-alt text-error">Confirm password is required</span>
                }

                @if (form.hasError('mismatch') && form.get('confirmPassword')?.value) {
                  <span class="label-text-alt text-error">Passwords do not match</span>
                }
              </div>
            }
          </label>

          <div class="mt-4">
            <button
              class="btn btn-primary mt-2 w-full"
              [disabled]="form.disabled"
              (click)="submit()"
            >
              Reset password
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<ng-template
  #validationTemplate
  let-data="data"
>
  <div class="flex items-center gap-1">
    @switch (data.hasError) {
      @case (true) {
        <svg-icon
          class="icon-size-4 text-red-500"
          name="heroicons_outline:x-mark"
        />
      }
      @default {
        <svg-icon
          class="icon-size-4 text-green-500"
          name="heroicons_outline:check"
        />
      }
    }

    <span
      class="label-text-alt"
      [ngClass]="{
        'text-red-500': data.hasError,
        'text-green-500': !data.hasError,
      }"
    >
      {{ data.message }}
    </span>
  </div>
</ng-template>
