<section class="container mx-auto my-10 sm:my-20">
  <h1 class="text-center text-3xl font-bold">Example</h1>

  <div class="flex flex-wrap gap-10">
    <button
      class="btn"
      (click)="openDialog()"
    >
      Open Dialog
    </button>

    <button
      class="btn"
      (click)="openLoader()"
    >
      Open Loader
    </button>

    <button
      class="btn"
      (click)="openToast()"
    >
      Open Toast
    </button>

    <button class="btn">
      <svg-icon name="heroicons_outline:camera" />
    </button>

    <div class="form-control">
      <div class="label">Pick a date</div>

      <label class="input input-bordered flex w-full items-center gap-2">
        <datepicker-toggle [for]="datePicker" />

        <input
          type="string"
          class="grow"
          formControlName="birthday"
          [datepicker]="datePicker"
        />
      </label>

      <date-picker #datePicker />
    </div>
  </div>
</section>

<app-welcome />
